*{
    margin: 0;
    padding: 0;

}
#logo{
    width: 60px;
    height: 60px;
}


body{
    background-color: #e0e0e0;
    width: 100%;
    height: 100vh;
}

#hotelImgDiv{
    width: 65%;
    height: 400px;
    border: 1px solid black;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
#hotelImg{
    height: 350px;
    padding: 2%;
}
#contenDiv{
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 
}
ul{
    padding-left: 3%;
}


#formDiv{
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid  black;
    height: 400px;
    margin-top: 2%;
    width: 30%;
    
}

#h3{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1%;
}

#h4{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1%;
}


#p{
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: cursive;
    font-weight: bold;
}

header{
    background-color:rosybrown;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: rosybrown;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 8%;
    align-items: center;
    padding-right: 2%;
    margin-top: 2%;
    padding-left: 2%;
}


#copyRight{
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    
}

.smImg{
    width: 22px;
    height: 20px;
    
}

#login{ 
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

span{
    font-family: 'Ubuntu', sans-serif;
    
}

form{
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    
    
}

.form-row input{
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin-left: 20%;
 
}

li{
    font-family: 'Ubuntu', sans-serif;
}

 .wrapper {
    
    list-style-type: none;
    padding-right: 5%;

  }
  .form-row {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 0.7em;
    
  }
  .form-row > label {
    flex: 1;
  }
  .form-row > input {
    flex: 2;
    padding-right: 2%;
  }
  


  
  
