*{
    margin: 0;
    padding: 0;

}

.logo{
    width: 60px;
    height: 60px;
}
#searchCity{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg") ;
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg") center no-repeat; */
}
header{
    background-color:rosybrown;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;

}

body{
    background-color: #e0e0e0;
    width: 100vw;
    height: 100vh;
    
}
footer{
    background-color: rosybrown;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 8%;
    align-items: flex-end;
    padding-right: 2%;
    margin-top: 5%;
    
}

#cityImg{
    width: 150px;
    height: 150px;
}

.smImg{
    width: 22px;
    height: 20px;
    padding-bottom: 20%;
}
#citydiv{
    text-align: center;
}

.city{
    padding: 4%;
    border-radius: 25%;
}

#login{ 
    color: black;
    text-decoration: none;
    margin-right: 1%;
    font-family: 'Ubuntu', sans-serif;
}
#search{
    border-radius: 12px;
    border: transparent 1px;
    font-size: 16px;
    height: 6%;
    padding: 1%;
    width: 20%;
    background-color: #f1f1f1;
    font-family: 'Ubuntu', sans-serif;
}

#contactUs{
    padding: 1%;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#copyRight{
    font-size: 12px;
    padding-right: 20%;
    font-family: 'Ubuntu', sans-serif;
}

#viewMore{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}



