*{
    margin: 0;
    padding: 0;

}
#logo{
    width: 60px;
    height: 60px;
}


body{
    background-color: #e0e0e0;
    width: 100%;
    height: 100vh;
}

.radissonName{
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.hotelImg{
    width: 20vw;
    height: 30vh;
}

.smImg{
    width: 22px;
    height: 20px;
}

#contentDiv{
    margin: 2%;
}

.hotelDiv{
    background-color:lightgrey ;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 3%;
    margin-right: 6%;
    margin-left: 2%;
}

.hotelDetails{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 2%;
    margin-top: 4%;
}

.hotelDetails #hotelName{
    font-weight: bold;
}



#views{
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.views a{
    padding-right: 2%;
    padding-left: 2%;
    text-decoration: none;
    color: black;
    font-weight: bold;


}

#mapView{
    display: none;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color:rosybrown;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: rosybrown;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 8%;
    align-items: center;
    padding-right: 2%;
    margin-top: 5%;
    padding-left: 1%;
    padding-right: 2%;
}


#contactUs{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#copyRight{
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 20%;
}

.smImg{
    width: 22px;
    height: 20px;
}

#login{ 
    color: black;
    text-decoration: none;
    margin-right: 1%;
    font-family: 'Ubuntu', sans-serif;
}

#listView{
    display: flex;
    flex: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
