*{
    margin: 0;
    padding: 0;

}
#logo{
    width: 60px;
    height: 60px;
}
header{
    background-color:rosybrown;
}

body{
    background-color: #e0e0e0;
    width: 100%;
    height: 100%;
}
footer{
    background-color: rosybrown;
}
.radissonName{
    font-weight: bold;
}
.hotelImg{
    width: 250px;
    height: 200px;
}

.smImg{
    width: 22px;
    height: 20px;
}

#contentDiv{
    margin: 2%;
}

.hotelDiv{
    background-color:rgb(132,136,139) ;
    width: 40%;
    height: 40%;
    margin-top: 20px;
}

#rating{
    margin-top: 10px;

}

#area{
    margin-top: 10px;

}

#hotelName{
    margin-top: 10px;
}
